{% extends "base.twig" %}

{% block content %}
  <div class="container">
    <div class="row pt-3">
      <div class="col my-2">
        <h1 {% include "partial/font-styles.twig" with {font_styles : post.meta('title_font_styles')} %}>{{post.title}}</h1>
      </div>
    </div>

    <div class="row pb-3 mb-n1">
      <div class="col" {% include "partial/font-styles.twig" with {font_styles : post.meta('content')} %}>
        <div class="mx-auto w-100 w-sm-75">
          {{post.content_text|wpautop}}
        </div>
      </div>
    </div>

    <div class="row">
      {% for index, piece in pieces %}
        {% include 'partial/portfolio-piece-link.twig' %}
      {% endfor %}
    </div>
  </div>
{% endblock %}