header.header {
  &:after {
    float: none;
    clear: both;
    content: "";
    display: block;
    // width: 75%;
    height: 1px;
    background: $primary;
    position: fixed;
    top: 70px;
    left: 12.5%;
    right: 12.5%;
    z-index: 1030;

    @include media-breakpoint-down(xs) {
      left: 15px;
      right: 15px;
    }
  }

  .navbar {
    padding: 1.25rem 12.5% !important;
    align-items: center;
    transition: background-color 0.3s;

    &.show-background {
      background: white;
      background: rgba(255, 255, 255, 0.8);
    }

    @include media-breakpoint-down(xs) {
      padding: {
        left: 15px !important;
        right: 15px !important;
      }
    }
  }

  .navbar-brand {
    position: relative;
    border: none !important;

    .brand-logo {
      max-height: 1.33rem;
      display: inline-block;
      margin-top: -3px;
    }

    .animated-text-after-logo {
      color: $primary;
      font-weight: $font-weight-bold;
      position: absolute;
      font-size: 1.5rem;
      display: inline-block;
      overflow-x: hidden;
      bottom: 0;
      width: auto;
      line-height: 1;
      vertical-align: baseline;
    }

    ::-webkit-scrollbar {
      width: 0px;
    }
  }

  .collapse, .nav-item {
    @include media-breakpoint-up(lg) {
      line-height: 1;

      &, .nav-link {
        display: flex;
        align-items: flex-end;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .navbar-nav {
      margin-top: 1rem;
      padding-top: 0.5rem;

      .nav-item {
        line-height: 1.5;
      }

      &.navbar-right {
        flex-direction: row;
        
        margin-top: .5rem;
        padding-top: 0;

        .nav-item {
          line-height: 1;
        }
      }
    }
  }
}

.content-margin {
  margin-top: 70px;
}