.portfolio-gallery-image {
  content: "";
  position: relative;

  background: {
    size: 100%;
    size: cover;
    position: center;
    repeat: no-repeat;
  }

  padding-top: 33%;
  
  border: none !important;

  &:after {
    content: "";
    position: absolute;  
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: solid $body-bg 7px;

    @include media-breakpoint-down(md) {
      border-left-width: 0;
      border-right-width: 0;
    }
  }

  .piece-description {
    position: absolute;
    top: 7px;
    bottom: 7px;
    right: 7px;
    left: 7px;

    @include media-breakpoint-down(md) {
      left: 0;
      right: 0;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: opacity 0.3s;
    background: rgba($primary, 0.7);

    h3, p {
      color: white !important;
      text-align: center;
      width: 80%;
    }
  }

  @include media-breakpoint-up(md) {
    &:nth-child(odd) {
      .piece-description {
        left: 0;
      }

      &:after {
        border-left-width: 0px;
      }
    }

    &:nth-child(even) {
      .piece-description {
        right: 0;
      }

      &:after {
        border-right-width: 0px;
      }
    }
  }

  &:nth-child(1),
  &:nth-child(2) {
    .piece-description {
      top: 0;
    }

    &:after {
      border-top-width: 0 !important;
    }
  }

  &:nth-last-child(1),
  &:nth-last-child(2) {
    .piece-description {
      bottom: 0;
    }

    &:after {
      border-bottom-width: 0 !important;
    }
  }

  &:hover .piece-description {
    opacity: 1;
  }
}